templates/pipeline/CopyPipeline_OpenHubDemo.json
{
	"name": "CopyPipeline_OpenHubDemo",
	"properties": {
		"activities": [
			{
				"name": "Copy_SapToAdls",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupCurrentChangeTrackingVersionActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "OHDADFUT"
					},
					{
						"name": "Destination",
						"value": "demotest/"
					}
				],
				"typeProperties": {
					"source": {
						"type": "SapOpenHubSource"
					},
					"sink": {
						"type": "AzureDataLakeStoreSink"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "SourceDataset_SapOpenHub",
						"type": "DatasetReference",
						"parameters": {
							"requestId": {
								"value": "@activity('LookupCurrentChangeTrackingVersionActivity').output.firstRow.Prop_0",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DestinationDataset_Adls",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "LookupCurrentChangeTrackingVersionActivity",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "BlobSource",
						"recursive": true
					},
					"dataset": {
						"referenceName": "AzureBlobCache",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "CacheCopiedRequestId",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy_SapToAdls",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"url": "https://prod-49.eastus.logic.azure.com:443/workflows/770083bb85834b67b1072c331547fb68/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=8bDsV3o_OdcSWvZ3nDAgCH5v4p84iKqXognhctFdi2w",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"sapOpenHubMaxRequestId": "@{activity('Copy_SapToAdls').output.sapOpenHubMaxRequestId}"
					}
				}
			}
		]
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}