saptabletemplate/pipeline/IncrementalCopyFromSAPTable.json
{
	"name": "IncrementalCopyFromSAPTable",
	"properties": {
		"description": "Copy incremental data from SAP Table to ADLS Gen2 ",
		"activities": [
			{
				"name": "CopyFromSAPTable",
				"description": "Copy incremental data from SAP table to ADLS Gen2",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupLastCopiedDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SapTableSource",
						"rfcTableOptions": {
							"value": "@{concat('AS4DATE LE ',formatDateTime(adddays(pipeline().TriggerTime,-1),'yyyyMMdd'), ' AND AS4DATE GE ', formatDateTime(activity('LookupLastCopiedDate').output.firstRow.Prop_0, 'yyyyMMdd'))}",
							"type": "Expression"
						},
						"customRfcReadTableFunctionModule": "",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSetting"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSetting",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "SapTableResourceForDelta",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DelimitedText5inAdlsGen2",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "LookupLastCopiedDate",
				"description": "Retrieve the last copy triggered date stored in blob",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSetting",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSetting"
						}
					},
					"dataset": {
						"referenceName": "DelimitedText4",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SetCopiedDate",
				"description": "Store the last copy triggered time into blob by calling Logic App",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "CopyFromSAPTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"url": "https://prod-53.eastus.logic.azure.com:443/workflows/c749fdc93f424f1ab700385c3bf2c86f/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=zvNrHinJkzto68KdrD3B1X-oSfyB6JVplfytzJkUNG4",
					"method": "POST",
					"body": {
						"value": "{\"copiedDate\":\"@{pipeline().TriggerTime}\"",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"LogicAppURL": {
				"type": "String",
				"defaultValue": "https://prod-53.eastus.logic.azure.com:443/workflows/c749fdc93f424f1ab700385c3bf2c86f/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=zvNrHinJkzto68KdrD3B1X-oSfyB6JVplfytzJkUNG4"
			}
		}
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}