saptabletemplate/pipeline/IncrementalCopyFromSAPBWOpenHub1.json
{
	"name": "IncrementalCopyFromSAPBWOpenHub1",
	"properties": {
		"description": "Copy incremental data from SAP BW Open Hub table to ADLS Gen2",
		"activities": [
			{
				"name": "LookupLastRequestId",
				"description": "Retrieve the last max copied request ID stored in blob",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "BlobSource",
						"recursive": false
					},
					"dataset": {
						"referenceName": "AzureBlobDataset2",
						"type": "DatasetReference",
						"parameters": {
							"HighWatermarkBlobPath": {
								"value": "@pipeline().parameters.HighWatermarkBlobPath",
								"type": "Expression"
							},
							"HighWatermarkBlobName": {
								"value": "@pipeline().parameters.HighWatermarkBlobName",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "CopyFromSAPBWOpenHub",
				"description": "Copy incremental data from SAP BW Open Hub table to ADLS Gen2",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupLastRequestId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SapOpenHubSource"
					},
					"sink": {
						"type": "AzureBlobFSSink"
					},
					"enableStaging": false,
					"parallelCopies": 6,
					"dataIntegrationUnits": 0
				},
				"inputs": [
					{
						"referenceName": "SAPOHDSource_Incremental1",
						"type": "DatasetReference",
						"parameters": {
							"BaseReqeustId": {
								"value": "@activity('LookupLastRequestId').output.firstRow.Prop_0",
								"type": "Expression"
							},
							"SAPOpenHubDestinationName": {
								"value": "@pipeline().parameters.SAPOpenHubDestinationName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AzureDataLakeStorageGen2Sink1",
						"type": "DatasetReference",
						"parameters": {
							"ADLSGen2SinkPath": {
								"value": "@pipeline().parameters.ADLSGen2SinkPath",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "SetMaxCopiedRequestId",
				"description": "Store the latest max copied request ID into blob by calling Logic App",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "CopyFromSAPBWOpenHub",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"url": {
						"value": "@pipeline().parameters.LogicAppURL",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "{\"sapOpenHubMaxRequestId\":\"@{activity('CopyFromSAPBWOpenHub').output.sapOpenHubMaxRequestId}\"}",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"SAPOpenHubDestinationName": {
				"type": "String",
				"defaultValue": "OH1_DELTA"
			},
			"ADLSGen2SinkPath": {
				"type": "String",
				"defaultValue": "sap"
			},
			"HighWatermarkBlobPath": {
				"type": "String",
				"defaultValue": "demo"
			},
			"HighWatermarkBlobName": {
				"type": "String",
				"defaultValue": "requestIdCache.txt"
			},
			"LogicAppURL": {
				"type": "String",
				"defaultValue": "https://prod-49.eastus.logic.azure.com:443/workflows/770083bb85834b67b1072c331547fb68/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=8bDsV3o_OdcSWvZ3nDAgCH5v4p84iKqXognhctFdi2w"
			}
		}
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}